<template name="about">
  {{>navigation}}
  <h2 class="col-sm-offset-2" style="color:white">About Me</h2>
  <br>
  <div class="row about">
  	<div class="col-sm-4 col-sm-offset-2">
  		<p>Hello! Welcome to my website.</p> 
  		<p>My name is Monica Schneider. I am a photographer based in the DC area. I enjoy photography, theater, lifting heavy things, reading, and taking risks to get the best possible picture. </p>

		<p>I exclusively shoot my photos using black and white film and a fully manual camera. This gives my work a retro, timeless, and more intimate feel that cannot be replicated with digital equipment or filters. </p>

		<p>Please enjoy exploring the site. If you have questions or are interested in a private photo session do not hesitate to email me and ask.
		</p>

    <br>

    <div class="row" style="background-color: black;">
      <img src="facebook-logo.png" class="col-sm-2 img img-responsive">
      <img src="twitter-logo.jpg" class="col-sm-2 img img-responsive">
      <img src="tumblr-logo.png" class="col-sm-2 img img-responsive" style="background-color: white;">
      <img src="email-logo.png" class="col-sm-2 img img-responsive" style="background-color: white;">
    </div>
  	</div>
  	<div class="col-sm-3 col-sm-offset-1">
  		<img src="monica.jpg" style="width:100%; border-radius:10px"/>
  	</div>
  </div>
  <br>
  {{>footer}}
</template>
