<template name="admin">
	{{>navigation}}
	{{#if isAdmin}}
	<div class="form-group">
		<label for="search" style="color:white;">Search by Name</label>
		<input type="text" class="form-control" id="inputTitle" placeholder="Name">
	</div>
	<button type="submit" class="btn btn-default" id="query">Search</button>
	<br>
	<br>
	<br>

	{{#each search}}
		<div class="container">
			<div class="row" style="margin: 4px;">
				<div class="col-sm-5">
					<img src="{{c.url (nameHelper this.name) width=646 height=400 crop="scale"}}" class="img img-responsive" />
				</div>
				<div class="col-sm-3" style="color: white;">
					Name: {{name}}
					<br>
					Description: {{description}}
					<br>
					Price: {{Price}}
					<br>
					Category: |{{category}}|
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<textarea id="change" placeholder="Content" style="height: 150px; width: 100%"></textarea>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default">Name</button>
  							<button type="button" class="btn btn-default">Description</button>
  							<button type="button" class="btn btn-default">Price</button>
  							<button type="button" class="btn btn-default">Category</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
	{{/if}}
	{{>footer}}
</template>