<template name="blog">
  {{>navigation}}
  {{#if isAdmin}}
    {{> blogpost}}
  {{/if}}
  {{#each blogposts}}
    {{>blogshow}}
    <br> 
  {{/each}}
  {{>footer}}
</template>

<template name="blogpost">
  <div class="well well-lg">
    <form id="blogpost">
      <h3>Blog Entry</h3>
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputDescription">Location</label>
        <input type="text" class="form-control" id="inputLocation" placeholder="">
      </div>
      <label>Content</label>
      <div id="summernote">
        Hello summernote
      </div>
      <label>Picture Attachment</label>
      <input type="file" id="userimage" name="userimage"/>
      <button type="submit" class="btn btn-default center-block">Submit</button>
    </form>
  </div>
</template>

<template name="blogshow">
  <div class="row">
    {{#if isAdmin}}
        <button class="glyphicon glyphicon-remove" id='{{title}}'></button>
    {{/if}}
    <div class="col-sm-8 col-sm-offset-2">
      <table style="width: 100%">
        <tr class="greyTable"><td style="padding-left: 10px;">{{title}}</td></tr>
        <tr>
          <td><img src="{{c.url formatTitle}}" class="img img-responsive full-width"></td>
        </tr>
        <tr class="greyTable" style="height: 40px; font-size: 1.2em;">
          <td colspan="0"><span class="glyphicon glyphicon-globe" style="padding-left: 10px;"></span>
            <span>{{location}}</span>
            <span class="pull-right" style="padding-right: 10px;">{{formatTime timeCreated}}</span>
          </td> 
        </tr>
        <tr>
          <td style="background-color: white; color: black; font-size: 1.2em; padding-left: 10px; padding-right: 10px; font-family: Georgia, serif; padding-top: 5px;">
            <p>{{{content}}}</p>
          </td>
        </tr>
      </table>
      
    </div>
  </div>
</template>
