<template name="home">
  <div id="homefirsthalf">
    <div class="container-fluid" style="padding-top: 2%">
      <div class="row col-sm-offset-1">
        <!-- first letter block -->
        <div class="col-sm-2" style="background-color: white">
          <div class="container-fluid imageWrapper">
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="1.jpg" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="2.jpg" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="3.jpg" class="img img-responsive full-width round-tr" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="4.jpg" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="5.jpg" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- first letter block end-->
        <!-- second letter block -->
        <div class="col-sm-2" style="background-color: white">
          <div class="container-fluid imageWrapper">
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- second letter block end-->
        <!-- third letter block-->
        <div class="col-sm-2" style="background-color: white">
          <div class="container-fluid imageWrapper">
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- third letter block end-->
        <!-- fourth letter block-->
        <div class="col-sm-2" style="background-color: white">
          <div class="container-fluid imageWrapper">
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fourth letter block end-->
        <!-- fifth letter block-->
        <div class="col-sm-2" style="background-color: white">
          <div class="container-fluid imageWrapper">
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 imageWrapper">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
              <div class="col-sm-4 imageWrapper pull-right">
                <div class="image">
                  <img src="#" class="img img-responsive full-width" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fifth letter block end-->
      </div>
    </div>
  </div>
  <div id="homesecondhalf">

  </div>
  {{>navigation}}
  {{>footer}}
</template>
<template name="navigation">
  <div class="container-fluid" style="text-align: center; color: white">
    <h3>Monica Schneider Photography</h3>
    <div class="container-fluid center-block">
      <ul class="nav navbar-nav" >
        <li><a href="/">Home</a></li>
        <li><a href="#" class="inactivelink">|</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="#" class="inactivelink">|</a></li>
        <li><a href="/private">Private Photo Session</a></li>
        <li><a href="#" class="inactivelink">|</a></li>
        <li><a href="/about">About Monica</a></li>
        <li><a href="#" class="inactivelink">|</a></li>
        <li><a href="/blog">Photo Essays</a></li>
      </ul>
    </div>
  </div>
</template>
<template name="footer">
  <div class="container-fluid" style="background-color: white">
    {{> loginButtons}}
  </div>
</template>
