<template name="gallery">
  {{>navigation}}
  {{#if isAdmin}}
    {{>galleryedit}}
  {{/if}}
  <div class="container-fluid">
    <div class="row">
      {{#each images}}
      {{#if isAdmin}}
        <button class="glyphicon glyphicon-remove" id='{{this.name}}'></button>
        <br>
      {{/if}}
      <div class="col-md-2 galleryimage">
        <a href="#"><img src="{{c.url (nameHelper this.name)}}" class="img img-responsive full-width"/></a>
        <button type="submit" name="btn btn-default">Add to Cart</button>
      </div>
      {{/each}}
    </div>
  </div>
  {{>footer}}
</template>

<template name="galleryedit">
  <div class="well well-lg">
    <form id="submitPicture">
      <div class="form-group">
        <label for="inputName">Name of Piece</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" placeholder="">
      </div>
      <input type="file" id="userimage" name="userimage"/>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>

<template name="gallerypost">

</template>
