.gallerypost {
	position: fixed;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 90%;
	top: 5%;
	right: 5%;
	background-color: black;
	border: 2px white solid;
	z-index: 10000;
}
.exit {
	position: absolute;
	right: 0px;
	top: 0px;
	color: black;
}
.grid-item {
  	border: 2px solid hsla(0, 0%, 0%, 0.5);
  	margin: 0px;
  	padding: 3px;
}
#categories, #allcategory {
	cursor: pointer;
}
#categories:hover, #allcategory:hover {
	text-decoration: underline;
}

#testing {
	background-color: black;
	height: 40px;
	width: 100%;
	color: white;
}

.swag {
	color: white;
}