<template name="gallery">
  {{>navigation}}
  {{#if isAdmin}}
    {{>galleryedit}}
  {{/if}}
  <div class="row">
    <div class="col-sm-2">
      <h3 style="color:white; text-align: center; font-family: Cambria, Georgia, serif">Photo Category</h3>
      <ul id="categorylisting" style="color:white">
        <li id="allcategory">Show All</li>
        {{#each catty}}
        <li id="categories">{{name}}{{number}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="container col-sm-10"> 
      <div class='container' style="margin-left: 0px;">
        <p style="color: white; padding-left: 0px; margin-left: 0px; padding-right: 50px;">Welcome to the gallery. The price listed on each picture is for a framed 8x10 or 8x12 picture.  For aesthetic reasons, I frame some pictures in a frame with no matte (so finished product is 8x10 or 8x12 in size). Most will arrive framed in a black aluminum frame with a simple white matte- total size 11x14. The price includes shipping costs. It does not include DC Sales Tax, which will be added at check out. If you are interested in buying a print without a frame or want an alternative size, please email me at BlackandWhiteDC.com for a price quote.</p>
      </div>
      {{>gallerypost}}
      {{> subgallery category=sessioncat}}
      <br>
      <button id="testing" class="center-block">Load More</button>
    </div>
  </div>
  {{>footer}}
</template>

<template name="subgallery">
  <div class="grid master">
    {{#each images category}}
      <div class="grid-item col-sm-3">
        {{#if isAdmin}}
          <button class="glyphicon glyphicon-remove absolutedelete" id='{{this.name}}'></button>
          <br>
        {{/if}}
          <div class="galleryimage" style="">
            {{#if isPortrait this.orientation}}
            <img src="{{c.url (nameHelper this.name)}}" class="img img-responsive" />
            {{else}}
            <img src="{{c.url (nameHelper this.name)}}" class="img img-responsive" />
            {{/if}}
          </div>
        </div>
    {{/each}}
  </div>
</template>

<template name="galleryedit">
  <div class="well well-lg">
    <form id="submitPicture">
      <div class="form-group">
        <label for="inputName">Name of Piece</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputOrientation">Portrait?</label>
        <input type="checkbox" id='checkOrientation'>
      </div>
      <div class="form-group">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" placeholder="">
      </div>
      <input type="file" id="userimage" name="userimage"/>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>

<template name="gallerypost">
  <div class="container gallerypost" style="display:none;">
    {{#if portrait}}
    <div class="row swag" style="height: 80%; position: fixed;">
      <img src="#" style="height: 88%; width: 35%; position: fixed; left: 10%;" id="postimage" class="img img-responsive">
      <button class="glyphicon glyphicon-remove exit" style="position: fixed; top: 5%; right: 5%;"></button>
      <div style="position: fixed; top: 8%; left:50%; width: 40%;">
        <h2 id="posttitle" style="text-align: center;"></h2>
        <h4 style="text-align: center; font-style: italic;">By Monica Schneider</h4>
        <p id="posttext" style=""></p>
        <br>
        <span>Price:</span> <span id="postprice"></span>
        <br>
        <span>Quantity</span>
        <input type="number" id="postquantity" style="color: black; width: 50px; margin-left: 20px; margin-right: 10px" value=0>
        <button type="submit" class="btn btn-default">Add to Cart</button>
        <br>
        <span>Category: </span> <span id='postcategory'></span>
      </div>
    </div>
    {{else}}
    <div class="row swag" style="heigh: 80%; position:fixed;">
      <button class="glyphicon glyphicon-remove exit" style="position: fixed; top: 5%; right: 5%;"></button>
      <div style='position: fixed; top: 6%; width: 100%;'>
        <h2 id="posttitle" style="text-align: center;"></h2>
        <h4 style="text-align: center; font-style: italic;">By Monica Schneider</h4>
      </div>
      <img src="#" style="height: 75%; width: 55%; position: fixed; left: 8%; top: 18%" id="postimage" class="img img-responsive">
      <div style="position: fixed; top: 20%; left:65%; width: 30%;">
        <p id="posttext" style=""></p>
        <br>
        <span>Price:</span> <span id="postprice"></span>
        <br>
        <span>Quantity</span>
        <input type="number" id="postquantity" style="color: black; width: 50px; margin-left: 20px; margin-right: 10px" value=0>
        <button type="submit" class="btn btn-default">Add to Cart</button>
        <br>
        <span>Category: </span> <span id='postcategory'></span>
      </div>
    </div>
    {{/if}}  
  </div>
</template>
