<template name="gallery">
  {{>navigation}}
  {{#if isAdmin}}
    {{>galleryedit}}
  {{/if}}
  <div class="row">
    <div class="col-sm-2">
      <h3 style="color:white; text-align: center; font-family: Cambria, Georgia, serif">Photo Category</h3>
      <ul id="categorylisting" style="color:white">
        <li id="allcategory">Show All</li>
      </ul>
    </div>
    <div class="container col-sm-10"> 
      {{>gallerypost}}
      {{> subgallery category=sessioncat}}
      <br>
      <button id="testing" class="center-block">Load More</button>
    </div>
  </div>
  {{>footer}}
</template>

<template name="subgallery">
  <div class="grid master">
    {{#each images category}}
      <div class="grid-item col-sm-3">
        {{#if isAdmin}}
          <button class="glyphicon glyphicon-remove" id='{{this.name}}'></button>
          <br>
        {{/if}}
          <div class="galleryimage" style="">
            {{#if isPortrait this.orientation}}
            <img src="{{c.url (nameHelper this.name) width=400 height=646 crop="scale"}}" class="img img-responsive" />
            {{else}}
            <img src="{{c.url (nameHelper this.name) width=646 height=473 crop="scale"}}" class="img img-responsive" />
            {{/if}}
          </div>
        </div>
    {{/each}}
  </div>
</template>

<template name="galleryedit">
  <div class="well well-lg">
    <form id="submitPicture">
      <div class="form-group">
        <label for="inputName">Name of Piece</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputOrientation">Portrait?</label>
        <input type="checkbox" id='checkOrientation'>
      </div>
      <div class="form-group">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" placeholder="">
      </div>
      <input type="file" id="userimage" name="userimage"/>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>

<template name="gallerypost">
  <div class="container gallerypost" style="display:none;">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1" style="">
        <img src="#" style="width: 100%;" id="postimage" class="">
      </div>
      <div class="col-xs-6" style="color: white">
        <button class="glyphicon glyphicon-remove exit"></button>
        <h2 id="posttitle" style="text-align: center"></h2>
        <h4 style="text-align: center; font-style: italic;">By Monica Schneider</h4>
        <p id="posttext"></p>
        <br>
        <span>Price:</span> <span id="postprice"></span>
        <br>
        <span>Quantity</span>
        <input type="number" id="postquantity" style="color: black; width: 50px; margin-left: 20px; margin-right: 10px" value=0>
        <button type="submit" class="btn btn-default">Add to Cart</button>
        <br>
        <span>Category: </span> <span id='postcategory'></span>
      </div>
    </div>  
  </div>
</template>
